<!-- views/partials/footer.ejs -->

<!-- jQuery -->
<script src="../js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.min.js"></script>




<div class="row">
    <% if(req.user) { %>
    <h4 class="text-center">Signed in as: <%= req.user.username %></h4>
    <% } %>
    <p class="text-center text-muted"> <br />FRC Team 118: The Robonauts<br />© Copyright 2017</p>
</div>



<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.document.location = $(this).data("href");
        });
	
	$(".edit-table td").click(function (e) {
          e.preventDefault(); // <-- consume event
          e.stopImmediatePropagation();
        
          $this = $(this);

          if ($this.data('editing')) return;  
        
          var val = $this.text();
        
	  if(!Number(val))
	  {
            $this.empty()
            $this.data('editing', true);        
        
            $('<textarea cols="100" class="editfield">').val(val).appendTo($this);
	  }
	  else putOldValueBack();
        });

        putOldValueBack = function () {
          $(".edit-table .editfield").each(function(){
            $this = $(this);
            var val = $this.val();
            var td = $this.closest('td');
            td.empty().html(val).data('editing', false);
            
          });
        }
	
	saveNotes = function() {
	  putOldValueBack();
	  var notes = [];
	  var sVal = "";
	  $("#notes").find("tr").each(function() {
            var notesData = [];
	    $(this).find("td").each(function() {
	        sVal = $(this).text().replace(/"/g, '""');
	        notesData.push("" + sVal + "");
	    });
	    notes.push(notesData.join('`'));
	  });
	  var csv = notes.join('`');
	  csv = csv.substring(1);
	  //alert(csv);
	  
	  $.post("/notes", { notes: csv });
	}

        $(document).click(function (e) {
          putOldValueBack();
        });
	$(document).keyup(function(event) {
	//alert(event.which);
	  if(event.which == 13 || event.which == 27) {
	    putOldValueBack();
	  }
	});
    });
</script>
