<DOCTYPE! html>
<meta charset="utf-8">
<html lang="en">
<head>
  <% include ../partials/head.ejs %>
</head>
<body class="container">
  <header>
    <% include ../partials/header.ejs %>
  </header>

  <main style="padding-top:60px;">
    <div class="row">
      <div class="col-md-12">
        <%- message %>
        <form id="main_data_entry" method="post" action="/parse-data">
          <div class="form-group" style="padding-top:15px;">
            <div class="row">
              <div class="col-xs-3 col-xs-offset-3">
                <div class="input-group-sm">
                  <label class="control-label">Match Number</label>
                  <input tabindex="1" type="text" class="form-control" name="match_num" required />
                </div>
              </div>
              <div class="col-xs-3">
                <div class="input-group-sm">
                  <label class="control-label">Team Number</label>
                  <input tabindex="2" type="text" class="form-control" name="team_num" required />
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <center><h3>Cubes</h3></center>
            </div>
            <div class="row">
              <div class="col-xs-2 col-xs-offset-2">
                <div class="input-group-sm">
                  <label class="control-label">Scale High Made</label>
                  <input tabindex="3" type="text" class="form-control" name="tele_scale_high_made" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Scale High Missed</label>
                  <input tabindex="4" type="text" class="form-control" name="tele_scale_high_missed" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Scale Low Made</label>
                  <input tabindex="5" type="text" class="form-control" name="tele_scale_low_made" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Scale Low Missed</label>
                  <input tabindex="6" type="text" class="form-control" name="tele_scale_low_missed" />
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-2 col-xs-offset-2">
                <div class="input-group-sm">
                  <label class="control-label">Near Switch Made</label>
                  <input tabindex="7" type="text" class="form-control" name="tele_near_switch_made" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Near Switch Missed</label>
                  <input tabindex="8" type="text" class="form-control" name="tele_near_switch_missed" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Far Switch Made</label>
                  <input tabindex="9" type="text" class="form-control" name="tele_far_switch_made" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Far Switch Missed</label>
                  <input tabindex="10" type="text" class="form-control" name="tele_far_switch_missed" />
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-2 col-xs-offset-4">
                <div class="input-group-sm">
                  <label class="control-label">Exchange Made</label>
                  <input tabindex="11" type="text" class="form-control" name="tele_exchange_made" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Exchange Missed</label>
                  <input tabindex="12" type="text" class="form-control" name="tele_exchange_missed" />
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <center><h3>Intake</h3></center>
            </div>
            <div class="row">
              <div class="col-xs-2 col-xs-offset-3">
                <div class="input-group-sm">
                  <label class="control-label">Floor Intake</label>
                  <input tabindex="13" type="text" class="form-control" name="tele_floor_intake" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Pyramid Intake</label>
                  <input tabindex="14" type="text" class="form-control" name="tele_pyramid_intake" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Unprotected Intake</label>
                  <input tabindex="15" type="text" class="form-control" name="tele_unprotected_intake" />
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-2 col-xs-offset-4">
                <div class="input-group-sm">
                  <label class="control-label">Portal Intake Made</label>
                  <input tabindex="16" type="text" class="form-control" name="tele_portal_intake_made" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Portal Intake Missed</label>
                  <input tabindex="17" type="text" class="form-control" name="tele_portal_intake_missed" />
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <center><h3>Miscellaneous</h3></center>
            </div>
            <div class="row">
              <div class="col-xs-2 col-xs-offset-2">
                <div class="input-group-sm">
                  <label class="control-label">Orderly/Not Orderly</label>
                  <input tabindex="18" type="text" class="form-control" name="tele_orderly" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Highest Level</label>
                  <input tabindex="19" type="text" class="form-control" name="tele_highest_level" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Knockouts</label>
                  <input tabindex="20" type="text" class="form-control" name="tele_knockouts" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Dropped Cubes</label>
                  <input tabindex="21" type="text" class="form-control" name="tele_cubes_dropped" />
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-2 col-xs-offset-4">
                <div class="input-group-sm">
                  <label class="control-label">Driver Rating</label>
                  <input tabindex="22" type="text" class="form-control" name="driver_rating" required />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Defense Rating</label>
                  <input tabindex="23" type="text" class="form-control" name="defense_rating" />
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <center><h3>Climb</h3></center>
            </div>
            <div class="row">
              <div class="col-xs-2 col-xs-offset-2">
                <div class="input-group-sm">
                  <label class="control-label">Climb</label>
                  <input tabindex="24" type="text" class="form-control" name="tele_climb" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Climb Failed</label>
                  <input tabindex="25" type="text" class="form-control" name="tele_climb_failed" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Climb Assisted</label>
                  <input tabindex="26" type="text" class="form-control" name="tele_climb_assisted" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Platform</label>
                  <input tabindex="27" type="text" class="form-control" name="tele_platform" />
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-2 col-xs-offset-2">
                <div class="input-group-sm">
                  <label class="control-label">Plus One</label>
                  <input tabindex="28" type="text" class="form-control" name="tele_plus_one" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Plus One Failed</label>
                  <input tabindex="29" type="text" class="form-control" name="tele_plus_one_failed" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Plus Two</label>
                  <input tabindex="30" type="text" class="form-control" name="tele_plus_two" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Plus Two Failed</label>
                  <input tabindex="31" type="text" class="form-control" name="tele_plus_two_failed" />
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-12">
                <center><h3>Auton</h3></center>
              </div>
              <div class="col-xs-2 col-xs-offset-2">
                <div class="input-group-sm">
                  <label class="control-label">Baseline Cross</label>
                  <input tabindex="32" type="text" class="form-control" name="auto_cross" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Start Position</label>
                  <select tabindex="33" class="form-control" name="auto_position">
                    <option></option>
                    <option>Left</option>
                    <option>Center</option>
                    <option>Right</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Pyramid Intake</label>
                  <input tabindex="34" type="text" class="form-control" name="auto_pyramid_intake" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Unprotected Intake</label>
                  <input tabindex="35" type="text" class="form-control" name="auto_unprotected_intake" />
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-2 col-xs-offset-2">
                <div class="input-group-sm">
                  <label class="control-label">Near Switch Made</label>
                  <input tabindex="36" type="text" class="form-control" name="auto_near_switch_made" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Near Switch Missed</label>
                  <input tabindex="37" type="text" class="form-control" name="auto_near_switch_missed" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Exchange Made</label>
                  <input tabindex="38" type="text" class="form-control" name="auto_exchange_made" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Exchange Missed</label>
                  <input tabindex="39" type="text" class="form-control" name="auto_exchange_missed" />
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-2 col-xs-offset-2">
                <div class="input-group-sm">
                  <label class="control-label">Scale High Made</label>
                  <input tabindex="40" type="text" class="form-control" name="auto_scale_high_made" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Scale High Missed</label>
                  <input tabindex="41" type="text" class="form-control" name="auto_scale_high_missed" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Scale Low Made</label>
                  <input tabindex="42" type="text" class="form-control" name="auto_scale_low_made" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Scale Low Missed</label>
                  <input tabindex="43" type="text" class="form-control" name="auto_scale_low_missed" />
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-12">
                <center><h3>Cycles</h3></center>
              </div>
              <div class="col-xs-2 col-xs-offset-2">
                <div class="input-group-sm">
                  <label class="control-label">Portal Scale</label>
                  <input tabindex="44" type="text" class="form-control" name="tele_portal_scale_cycle" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Pyramid Scale</label>
                  <input tabindex="45" class="form-control" name="tele_pyramid_scale_cycle" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Unpro. Scale</label>
                  <input tabindex="46" type="text" class="form-control" name="tele_unprotected_scale_cycle" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Floor Scale</label>
                  <input tabindex="47" type="text" class="form-control" name="tele_floor_scale_cycle" />
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-2 col-xs-offset-2">
                <div class="input-group-sm">
                  <label class="control-label">Portal Near Switch</label>
                  <input tabindex="48" type="text" class="form-control" name="tele_portal_near_switch_cycle" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Pyramid Near Switch</label>
                  <input tabindex="49" class="form-control" name="tele_pyramid_near_switch_cycle" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Unpro. Near Switch</label>
                  <input tabindex="50" type="text" class="form-control" name="tele_unprotected_near_switch_cycle" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Floor Near Switch</label>
                  <input tabindex="51" type="text" class="form-control" name="tele_floor_near_switch_cycle" />
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-2 col-xs-offset-2">
                <div class="input-group-sm">
                  <label class="control-label">Portal Far Switch</label>
                  <input tabindex="52" type="text" class="form-control" name="tele_portal_far_switch_cycle" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Pyramid Far Switch</label>
                  <input tabindex="53" class="form-control" name="tele_pyramid_far_switch_cycle" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Unpro. Far Switch</label>
                  <input tabindex="54" type="text" class="form-control" name="tele_unprotected_far_switch_cycle" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Floor Far Switch</label>
                  <input tabindex="55" type="text" class="form-control" name="tele_floor_far_switch_cycle" />
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-2 col-xs-offset-2">
                <div class="input-group-sm">
                  <label class="control-label">Portal Exchange</label>
                  <input tabindex="56" type="text" class="form-control" name="tele_portal_exchange_cycle" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Pyramid Exchange</label>
                  <input tabindex="57" class="form-control" name="tele_pyramid_exchange_cycle" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Unpro. Exchange</label>
                  <input tabindex="58" type="text" class="form-control" name="tele_unprotected_exchange_cycle" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-group-sm">
                  <label class="control-label">Floor Exchange</label>
                  <input tabindex="59" type="text" class="form-control" name="tele_floor_exchange_cycle" />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-11">
              <input tabindex="60" style="float:right;" type="submit" class="btn btn-success" value="Submit Data" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
