<DOCTYPE! html>
<meta charset="utf-8">
<html lang="en">
<head>
  <% include ../partials/head.ejs %>
</head>
<body class="container">
  <header>
    <% include ../partials/header.ejs %>
  </header>

  <main style="padding-top: 60px;">
    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12">
        <form id="event-select" action="/parse-event" method="post">
          <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-xs-8 col-xs-offset-2">
              <div class="input-group-md">
                <h4 style="margin-top:10px; text-align: center;"><strong>Event</strong></h4>
                <select tabindex="1" class="form-control" name="event">
                  <%- events %>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-10 col-lg-9">
              <input style="float: right;" tabindex="2" type="submit" class="btn btn-success" value="Submit" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
