<DOCTYPE! html>
<meta charset="utf-8">
<html lang="en">
<head>
  <% include ../partials/head.ejs %>
</head>
<body class="container">
  <header>
    <% include ../partials/header.ejs %>
  </header>

  <main style="padding-top:60px;">
    <!-- <div class="row">
      <div class="col-lg-6">
        <h2>
          <strong><= team_num %> - <= team_name %></strong>
          <br />
          <div class="btn-group" role="group" aria-label="..." style="top: 5px;">
            <a href="/team/<= previous_team_num %>" type="button" class="btn btn-default">Previous</a>
            <a href="/team/<= next_team_num %>" type="button" class="btn btn-default">Next</a>
          </div>
        </h2>
      </div>
    </div> -->
    <div class="row">
      <!-- <div class="col-lg-8"> -->
        <table class="table table-bordered">
          <tr>
            <th>Team #</th>
            <td>4188</td>
            <td>1678</td>
            <td>118</td>
            <td>1533</td>
            <td>3255</td>
            <td>4486</td>
          </tr>
          <tr>
            <th>Auto kPa</th>
            <td>0</td>
            <td>10</td>
            <td>30</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <th>Auto Gears</th>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
          </tr>
          <tr>
            <
        </table>
      <!-- </div> -->
      <!-- <div class="col-lg-4"> -->
        <- videos %>
      <!-- </div> -->
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
